{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-flow-strip-types"
  ],
  "env": {
    "cjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": 6
            }
          }
        ]
      ]
    },
    "mjs": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "8.0.0"
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
