{
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-strip-types",
  ],
  "env": {
    "cjs": {
      "plugins": [
        ["transform-runtime", { "polyfill": false }]
      ],
      "presets": [
        ["env", {
          "targets": {
            "node": 4
          },
        }]
      ],
    },
    "mjs": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "8.0.0"
            },
            "loose": true,
            "modules": false
          }
        ]
      ]
    },
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
        }]
      ]
    }
  }
}
